body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content { 
  width: 100%;
}

.content .photoInfor { 
  max-height: 150px;
  display: flex;
  border: 2px black solid;
  border-radius: 5px;
  margin-bottom: 15px;
  max-width: px;
  width: 100%;
  padding: 10px
}

.content .photoInfor .photoImg {
  width: 25%;
  margin-right: 15px;
}
.content .photoInfor .photoContent {
  width: 55%;
}
.photoInfor .photoImg img {
  height: 100%;
  border-radius: 50%;
}

.nav-right a { 
  padding: 0 10px;
}

.nav-left {
  display: flex;
}

.nav-left div { 
  padding: 0 10px;
}

.nav-left div:hover { 
  cursor: pointer;
}